<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xmlns:cassandra="http://www.springframework.org/schema/data/cassandra"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.1.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
		http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
		http://www.springframework.org/schema/data/cassandra http://www.springframework.org/schema/data/cassandra/spring-cassandra-1.0.xsd">

	<context:component-scan base-package="com.marsyoung.*">
    </context:component-scan>
    <!-- Loads the properties into the Spring Context and uses them to fill
    in placeholders in the bean definitions -->
	<context:property-placeholder
		ignore-resource-not-found="true" location="classpath*:cassandra.properties" />
	<!-- REQUIRED: The Cassandra Cluster -->
	<cassandra:cluster contact-points="${cassandra.contactpoints}"
		port="${cassandra.port}" />
		<!-- REQUIRED: The Cassandra Session, built from the Cluster, and attaching
    to a keyspace -->
	<cassandra:session keyspace-name="${cassandra.keyspace}" />
	<!-- REQUIRED: The Default Cassandra Mapping Context used by CassandraConverter -->
	<cassandra:mapping />
	<!-- REQUIRED: The Default Cassandra Converter used by CassandraTemplate -->
	<cassandra:converter />
	<!-- REQUIRED: The Cassandra Template is the building block of all Spring
    Data Cassandra -->
	<cassandra:template id="cqlTemplate" />
	<!-- OPTIONAL: If you are using Spring Data Cassandra Repositories, add
    your base packages to scan here -->
	<cassandra:repositories base-package="com.marsyoung.cassandra" />
</beans>